{% extends "base.html.twig" %}

{% block title %}contact{% endblock %}

{% block body %}

    <section>

        {{form_start(contactForm)}}

            <input type="hidden" name="g-score" id="g-score">

            {{form_widget(contactForm)}}

            <button type="submit">
                send
            </button>

        {{form_end(contactForm)}}

    </section>

{% endblock %}

{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js?render=6LdSsdwUAAAAAHNFJPW71TznPDRrKd0IxeqoFyuR"></script>
    <script src="{{asset("/assets/js/g-recaptcha.js")}}"></script>
{% endblock %}