<section>

    <ul>

        <li>
            <a
                href=""
                class="btn blue-outline"
            >
                edit
            </a>
        </li>

        <li>
            <a
                href=""
                class="btn blue-outline"
            >
                swap&nbsp;
                {{ article.isPublic == true ? "private": "public" }}
            </a>
        </li>

        <li>

        </li>

        <li>
            <a
                href=""
                class="btn blue-outline"
            >
                swap&nbsp;
                {{ article.isWarningPublic == true ? "public": "adult" }} content
            </a>
        </li>

        <li>
            <a
                href=""
                class="btn red-outline"
            >
                remove
            </a>
        </li>

    </ul>

</section>
