<section>

    <header>

        <h1>Welcome {{user.username}}</h1>

        <p>
            Thanks for have validate you'r account.<br>
            Now you can access all features of <strong>Mire</strong>.
        </p>

    </header>

</section>