<section>

    <h1>
        Thanks have join Mire
    </h1>

    <p>
        for activate your account follow this&nbsp;
        <a href="{{absolute_url(path("app_activate" , {
            "token": user.token
        } ))}}">
            link
        </a>
    </p>

</section>