{% extends 'base.html.twig' %}

{% block title %}articles{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset("/assets/css/article-item.css")}}">
{% endblock %}

{% block body %}

    <section>

        <div class="wrap-pgination">
            {{ knp_pagination_render(articles) }}
        </div>

        <ul class="article-list">

        {% for article in articles %}

            {% if article.isRemove == false %}
                {% include "_article/item.html.twig" with { isAuthor: true } %}
            {% endif %}

        {% endfor %}
        </ul>

        <div class="wrap-pgination">
            {{ knp_pagination_render(articles) }}
        </div>

    </section>

{% endblock %}

{% block javascripts %}

    <script src="{{asset("/assets/js/opacity-article.js")}}"></script>

{% endblock %}