{% extends "base.html.twig" %}

{% block title %}

{% endblock %}

{% block body %}

    <section class="message-box">

        <ul class="messages-list">

            {% for message in messages %}

                {% include "_messages/message.html.twig" %}

            {% endfor %}

        </ul>

    </section>

{% endblock %}

{% block javascripts %}
    <script src="{{asset("/assets/js/message-box.js")}}"></script>
{% endblock %}